/* rubik-doodle-shadow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik Doodle Shadow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-doodle-shadow-v1-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins-v20-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-primary-light-broun: #a18268;
  --color-brand-normal: #819b57;
  --color-brand-dark: #465929;
  --color-brand-ligh: #cfcfbc;
}

/* Basic Global section */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

/* li {
  list-style-type: none;
} */

address {
  font-family: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0px 24px;
}

/* Button section */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  background-color: var(--color-brand-normal);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  /* font-weight: 600; */
}

/* Link section */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}

/* Header section */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */

.hero-section {
  padding: 272px 0px;
  background-image: url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advanteges section */

.advantages-section {
  padding: 16px 0px;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

/* Title section*/

.section-title {
  font-size: 64px;
  line-height: 1.3;
  font-weight: 600;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Tradishin  section*/

.tradition-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tradition-contant {
  max-width: 710px;
}

.traditions-title {
  width: 710px;
  margin-bottom: 42px;
}

.tradition-section {
  padding-top: 96px;
}

.tradition-text .brand {
  color: var(--color-brand-normal);
}

.tradition-text .uppercase {
  text-transform: uppercase;
}

.tradition-text.limited {
  max-width: 330px;
}

/* Chefs section */

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-primary-light-broun);
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}

.chefs-title {
  width: 520px;
  margin: 0 auto 80px;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-ligh);
  content: "";
}

/* Format section */

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid black; /*remove*/
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  height: 444px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

/* Contact section */

.contacts-title {
  width: 605px;
  margin-bottom: 16px;
}

/* Footer */

.footer-link {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  color: var(--color-primary-light);
}

.footer-link:hover {
  color: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-primary-light-broun);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.footer {
  background-image: url(../images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Carousel  */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}
