* {
  box-sizing: border-box;
}

.parent {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  gap: 40px;
  align-items: center;
}

.item {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 0, 0);
  transform: translate(-15px, -16px);
  transition: background-color 1s, color 1s;
}

.item.red:hover {
  background-color: rgb(255, 183, 0);
  color: black;
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
  transform: rotate(0deg);
}

.item.green:hover {
  animation-name: spin;
  animation-duration: 2s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(1);
}

.item.blue:hover {
  animation: small-big 3s;
}

@keyframes small-big {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(1);
  }
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(28deg, 354deg);
}
