/*form */
.input {
  position: relative;

  &__label {
    display: block;
  }
  /*form-input*/
  &__control {
    font-size: 16px;
    line-height: normal;
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-primary-light-broun);
    border-radius: 8px;
    background-color: transparent;

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::-moz-placeholder {
      color: var(--color-primary-light-broun);
      font-size: 16px;
      line-height: normal;
    }

    &::placeholder {
      color: var(--color-primary-light-broun);
      font-size: 16px;
      line-height: normal;
    }

    &:focus::-moz-placeholder {
      color: var(--color-primary-dark);
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}
