.backdrop {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s, visibility 0.4s;

  &__is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  padding: 48px;
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    margin: 0 auto 24px;
  }

  &__paragraph {
    margin-bottom: 72px;
    color: var(--color-brand-dark);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
