.tradition-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__contant {
    max-width: 710px;
  }

  &__title {
    width: 710px;
    margin-bottom: 42px;
  }

  &__text {
    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__text {
    &--limited {
      max-width: 330px;
    }
  }
}

.peckar-arka {
  border-radius: 197px 197px 4px 4px;
}
