.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-contant {
    max-width: 710px;
}

.traditions-title {
    width: 710px;
    margin-bottom: 42px;
}

.tradition-section {
    padding-top: 96px;
}

.tradition-text .brand {
    color: var(--color-brand-normal);
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

.tradition-text.limited {
    max-width: 330px;
}

.peckar-arka {
    border-radius: 197px 197px 4px 4px;
}